{% extends "layout.html" %}
{% block content %}
<main class="container-fluid">
    <div class="container">
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="container w-30">
            <div class="login-option-container">
                <a class="login-option" href="{% url 'main:signup' %}">&nbsp;회원가입</a>
                <a class="login-option" href="{% url 'main:password_reset' %}">비밀번호 찾기&nbsp;</a>
            </div>
            <div class="contents-blank"></div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.email }}
                {% if error_flg.email == True %}
                    <p class="text-danger">&nbsp;해당 이메일은 존재하지 않습니다.</p>
                    <script>
                        document.getElementById('id_email').classList.add("border-danger")
                        window.onload = function(){
                            document.getElementById("id_email").addEventListener("focusout", function(){
                                document.getElementById('id_email').classList.remove("border-danger")
                            });
                        }
                    </script>
                {% endif %}
                <div class="contents-blank"></div>
                {{ form.password }}
                {% if error_flg.password == True %}
                    <p class="text-danger">&nbsp;비밀번호가 일치 하지 않습니다.</p>
                    <script>
                        document.getElementById('id_password').classList.add("border-danger")
                        window.onload = function(){
                            document.getElementById("id_password").addEventListener("focusout", function(){
                                document.getElementById('id_password').classList.remove("border-danger")
                            });
                        }
                    </script>
                {% endif %}
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <button class="btn-green text-center px-5 ptd-15" type="submit">로그인</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}