{% extends "layout.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<main>
    <img src="{% static '\img\mainPage\banner1.jpg' %}" class="main-image-vh" id="image1">
    <img src="{% static '\img\mainPage\banner2.jpg' %}" class="main-image-vh" id="image2">
    <img src="{% static '\img\mainPage\banner3.jpg' %}" class="main-image-vh" id="image3">
</main>
<script>
    let lastScrollTop = 0;
    let image1_location = document.getElementById('image1').offsetTop-75;
    let image2_location = document.getElementById('image2').offsetTop-75;
    let image3_location = document.getElementById('image3').offsetTop-75;
    let flg = true
    let target = 0
    window.addEventListener('scroll', function() {
        let currentScrollTop = window.scrollY;
        image1_location = document.getElementById('image1').offsetTop-75;
        image2_location = document.getElementById('image2').offsetTop-75;
        image3_location = document.getElementById('image3').offsetTop-75;
        if (currentScrollTop > lastScrollTop) {
            if( flg ){
                if (lastScrollTop < image2_location){
                    window.scrollTo(0, image2_location);
                    flg=false;
                    target = image2_location;
                }else if(lastScrollTop < image3_location){
                    window.scrollTo(0, image3_location);
                    flg=false;
                    target = image3_location;
                }
            }else{
                if (window.scrollY >= target){
                    flg=true;
                }
            }
        } else {
            if( flg ){
                if (lastScrollTop > image3_location){
                    window.scrollTo(0, image3_location);
                    flg=false;
                    target = image3_location;
                }else if(lastScrollTop > image2_location){
                    window.scrollTo(0, image2_location);
                    flg=false;
                    target = image2_location;
                }else if(lastScrollTop > image1_location){
                    window.scrollTo(0, image1_location);
                    flg=false;
                    target = image1_location;
                }
             } else{
                if (window.scrollY <= target){
                    flg=true;
                }
            }
        }
        
        lastScrollTop = currentScrollTop;
    });
</script>
{% endblock %}