{% extends "layout.html" %}
{% block content %}
    <main class="container-fluid">
        <div class="container w-45">
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="text-center ptd-16">
                새 비밀번호가 설정되었습니다.
            </div>
            <div class="blank"></div>
            <button class="btn-point ptd-15 px-5 text-center"  onclick="location.href='{% url "main:login"%}'" type="button">
                로그인 하러가기</button>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
        </div>
    </main>
{% endblock %}