{% extends "layout.html" %}
{% block content %}
<main class="container-fluid">
    <div class="h1">‘{{ results.search_word }}’에 대한 검색 결과 {{ results.search_cnt }}건</div>
    <div class="contents-blank"></div>
    <div class="contents-blank"></div>

    <div class="row" id="cafe_list">
        {% for cafe in results.cafe_content %}
        <div class="col-4 px-5 pb-5">
            <div class="d-flex justify-content-center">
                <img class="cus-main-image-size border rounded-5" src="{{ cafe.cafe_image.image.url }}">
            </div>
            <div><a href="/customer/{{ cafe.cafe.cafe_id }}/home">{{ cafe.cafe.name }}</a></div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}