{% extends "layout.html" %}
{% block title %}
    검색 결과
{% endblock %}
{% block content %}
<main class="container-fluid">
    <script src="https://kit.fontawesome.com/875cfd8d24.js" crossorigin="anonymous"></script>
    <div class="container">
        <div class="h1 pb-5">‘{{ results.search_word }}’에 대한 검색 결과 {{ results.search_cnt }}건</div>
        <div class="contents-blank"></div>
        <div class="row" id="cafe_list">
            {% for cafe in results.cafe_content %}
            <div class="col-4 px-5 pb-5">
                <div class="d-flex justify-content-center">
                    <img class="cus-main-image-size border rounded-5" onclick="location.href='/customer/{{ cafe.cafe_image.cafe.cafe_id }}/home'" src="{{ cafe.cafe_image.image.url }}">
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex h3 pt-3 cus-main-width-250 justify-content-between align-items-center">
                        <div class="w-75 truncate">{{ cafe.cafe_image.cafe.name }}</div>
                        <div class="w-25 d-flex">
                            <img class="w-px-30" src="/static/img/congestion/{% if cafe.cafe_congestion < 40 %}good{% elif cafe.cafe_congestion < 70 %}soso{% else %}bad{% endif %}.png">
                            {% if customer in cafe.cafe_image.cafe.like_users.all %}
                                <i class="fa-sharp fa-solid fa-heart heart-size"></i>
                            {% else %}
                                <i class="fa-regular fa-heart heart-size"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}