{% extends "layout.html" %}
{% block content %}
<main class="container-fluid">
    <div class="container">
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="container row">
            <div class="col text-center ptd-16">
                환영합니다.<br/>
                원하시는 회원가입을 선택해 주세요.
            </div>
            <div class="blank"></div>
            <div class="d-flex justify-content-center">
                <div class='signup-box' onclick = "location.href = '{% url 'customer:signup' %}' ">
                    <img class="signup-icon" src='/static/img/signup_customer.png'>
                    <button class="signup-button ptd-16" >고객 회원가입</button>
                </div>
                <div class='signup-box' onclick = "location.href = '{% url 'owner:signup' %}' ">
                    <img class="signup-icon" src='/static/img/signup_owner.png'>
                    <button class="signup-button ptd-16" >사장 회원가입</button>
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
    </div>
</main>
{% endblock %}