{% extends "layout.html" %}
{% block content %}
<main class="container-fluid">
    <div class="col-4 container">
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="container row">
            <div class="col text-center h2">
                환영합니다.<br/>
                원하시는 회원가입을 선택해 주세요.
            </div>
            <div class="blank"></div>
            <div class="d-flex">
                <div class='col'>
                    <button class="border signup-button" onclick = "location.href = '{% url 'customer:signup' %}' ">고객 회원가입</button>
                </div>
                <div class='col'>
                    <button class="border signup-button offset-md-3" onclick = "location.href = '{% url 'owner:signup' %}' ">사장 회원가입</button>
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
    </div>
</main>
{% endblock %}