@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {position: relative; min-height: 100%;}

body{
    margin-bottom: 60px;
    font-family: 'Pretendard-Regular';
}
.page-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 55px;
    line-height: 40px;
    background-color: #ffffff;
}
.head-logo{
    width: 170px;
}

.navbar-custom{
    border-radius: 0px;
    border-style: none;
}

.nav-link:hover{
    text-decoration: none;
}

.form-control:focus-within{
    box-shadow: none;
    border-color: rgba(60, 98, 85, 1);
}

.searchbox{
    border-radius: 0px;
    margin-right: 1rem;
    box-shadow: none;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#583A23;
    width: 200px;
}

.searchbox:focus {
    border-bottom-color:#583A23;
    box-shadow: none;
}

.signup-box{
    width: 200px;
    height: 250px;
    margin: 0 20;
    border-radius: 2%;
    border-style: solid;
    border-width: 2px;
    border-color:#583A23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup-box:hover{   
    background-color: #fbf8f4;
    cursor: pointer;
}

.signup-icon{
    width: 125px;
    height: 125px;
    margin-top: 20px;
}


.signup-button{
    margin: 20px;
    color: #583A23;
    background-color:transparent;
    border-style: none;
}

.login-button {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    /*border-radius: 50px;*/
    padding: 6px 15px;
    border-color: rgba(88, 58, 35, 1);
    /*border-width: 2px;*/
    /*border-style: solid;*/
    background-color: rgba(255, 255, 255, 1);
    color: rgba(88, 58, 35, 1);
    font-size: 16px;
    /*letter-spacing: 0%;*/
    text-align: center;
    /*font-family: "Inter", sans-serif;*/
    font-family: 'Pretendard-Regular';
    border: 0px;
}
.status-button {
    display: flex;
    padding: 6px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(88, 58, 35, 1);
    font-size: 8px;
    letter-spacing: 0%;
    text-align: center;
    /* font-family: "Inter", sans-serif; */
    font-family: 'Pretendard-Regular';
    margin-bottom: 0px;
    align-items: center;
    justify-content: flex-end;
}
.search-head-logo{
    width: 50px;
    margin-right: 10px;
}
.search-head-textbox{
    margin-top: 5px;
    padding-left: 20px;
}
.header-style{
    height: 60px;
    /* width: 1100px; */
    margin: 0 auto;
    position: relative;
}
.btn-outline-brown {
    --bs-btn-color: #583A23;
    --bs-btn-border-color: #583A23;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #583A23;
    --bs-btn-hover-border-color: #583A23;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #583A23;
    --bs-btn-active-border-color: #583A23;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #583A23;
    --bs-gradient: none;
}
.btn-outline-green {
    --bs-btn-color: rgba(60, 98, 85, 1);
    --bs-btn-border-color: rgba(60, 98, 85, 1);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(60, 98, 85, 1);
    --bs-btn-hover-border-color: rgba(60, 98, 85, 1);
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(60, 98, 85, 1);
    --bs-btn-active-border-color: rgba(60, 98, 85, 1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(60, 98, 85, 1);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgba(60, 98, 85, 1);
    --bs-gradient: none;
}
.head-menu{
    font-size: 22px;
    border-radius: 20px;
    padding: 8px 0px;
    border-color: rgba(88, 58, 35, 1);
    border-width: 2px;
    background-color: rgba(255, 255, 255, 1);
    color:rgba(88, 58, 35, 1);
}

.login-menu {
    height: 30px;
}

.side-menu {
    max-width: 100%;
    color: rgba(88, 58, 35, 1);
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 21px;
    text-indent: 1em;
    text-align: left;
    /* font-family: "Inter", sans-serif; */
    font-family: 'Pretendard-Regular';
    text-decoration: none;
}
.side-menu-detail {
    max-width: 100%;
    color: rgba(88, 58, 35, 1);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    text-align: left;
    text-indent: 3em;
    font-family: 'Pretendard-Regular';
}
.contents-header {
    max-width: 100%;
    color: rgba(88, 58, 35, 1);
    font-size: 24px;
    text-align: left;
    font-family: 'Pretendard-Regular';
}
.contents-padding {
    /*max-width: 100%;*/
    margin-top:90px;
    /*margin-left: 270px;*/
    /*margin-right: 60px;*/
}
.like-icon{
    height: 40px;
}
.content-detail{
    padding-top: 20px;
}
.content-detail-font{
    font-size: large;
    padding-bottom: 5px;
}
.content-detail-image{
    height: 150px;
    width: 155px;
}
.blank{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cafein-footer{
    background-color: #f8f0dd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-muted{
    text-align: center;
}

.ptd-12{
    font-family: 'Pretendard-Regular';
    font-size: 12px;
}

.ptd-14{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
}

.ptd-15{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
}

.ptd-16{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
}

.form-control{
    font-family: 'Pretendard-Regular';
    font-size: small;
}

.btn-green{
    color: white;
    background-color: rgba(60, 98, 85, 1);
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contents-blank{
    padding-top: 5px;
    padding-bottom: 5px;
}
.login-option-container{
    display: flex;
    justify-content: space-between;
}

.login-option{
    font-size: 14px;
    color:#8c8c8c;
    text-decoration: none;
}
.login-option:hover{
    color:#666666;
}
.text-gray{
    color:#8c8c8c;
}
.login-box{
    width: 150px;
    height: 100px;
}
.cafeimage{
    padding-left: 40px;
    padding-right: 40px;
    width: 360px;
    height: 180px;
}
.login-menu{
    width: 30px;
    height: 20px;
    padding-right: 10px;
}
.dropdown-item{
    padding: 7px 20px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color:#583A23;
}
.dropdown-item:hover{
    color:#583A23;
    text-decoration: none;
}
.dropdown-item:focus{
    background-color:white;
}
.imagebox{
    object-fit: scale-down;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 4px;
}
.imagebox2{
    object-fit: scale-down;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 100px;
    border: 4px;
}
.wrap{
    height: 120px;
    background-color: #dcdcdc;
    display: none;
}
.modify-page-padding{
    padding-left: 100px;
    padding-right: 120px;
}
.pe-150{
    padding-right: 150px;
}
.side-bar{
    background-color: #f8f0dd;
    margin-top: -50px;
    padding-top: 30px;
    padding-bottom: 40px;
    position: fixed;
    width: 220px;
    height: 100%;
}
.pw-box{
    /* box-shadow: 1px 1px 4px 0.3px gray; */
    border: 1px solid;
    border-color: #dcdcdc;
    margin-top: 150px;
    border-radius: 5px;
}
.header-icon{
    height:30px;
}
.pmb-0{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
/*.text-color-brown{*/
/*    --bs-text-opacity: 1;*/
/*    color: #583A23;*/
/*}*/
.navbar-default .navbar-nav>li>a {
    color: #583A23;
    font-weight: bold;
}
.cardradius-50{
    border-radius: 50px;
}
.cardbackgroundcolor{
    background-color: #f2f2f2;
    height: 280px;
    width: 260px;
}
.statisticsDetail-width{
    width:100px;
}
.w-5{
    width:5%;
}
.w-15{
    width:15%;
}
.w-30{
    width:30%;
}
.w-40{
    width:40%;
}

.w-45{
    width:45%;
}
.w-55{
    width:55%;
}

.w-65{
    width:65%;
}

.w-75{
    width:75%;
}

.w-85{
    width:85%;
}

.w-95{
    width:95%;
}

.cursor{
    cursor:pointer;
}
.display-7{
    font-size: 1.5rem;
}
.review-contents{
    padding: 0px 100px 10px 100px;
    word-wrap: break-word;
}
.comment-padding-left{
    padding-left: 85px;
}
.px-250{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu_img_size{
    width: 100%;
    height: 200px;
}
.menu-card-width{
    width:300px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 10vh;
}
textarea {
    width: 100%;
    height: 6.25em;
    resize: none;
}
.content-margin-top{
    margin-top: 75px;
}
.main-image-vh{
    width: 100%;
    height: 90vh;
}

.pagination{
    align-items: center;
}

.not-current{
    font-size: 14px;
    padding: 8px 10px;
    color: #757575;
    text-decoration: none;
}

.not-current:hover{
    color: #757575;
    text-decoration: none;
}

.current{
    width: 30px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    padding: 3px 6px 3px 6px;
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    border-color: rgba(88, 58, 35, 1);
    background-color: rgba(88, 58, 35, 1);
}

.cafe_rank {
    position: absolute;
    z-index: 1;
}
.cafe_rank:hover{
    font-size: 25px;
}
.check_button{
    width: 80px;
    height: 35px;
    color: white;
    font-size: 13;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgba(60, 98, 85, 1);
}

.login-option-container2{
    display: flex;
}

.change-margin{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    vertical-align: middle;

}

.change-margin2{
    margin-left: 700px;
}

.name-margin{
    margin-top: 5px;
}

.cus-main-image-size{
    height: 250px;
    width: 250px;
}

.check_button2{
    width: 150px;
    height: 35px;
    color: white;
    font-size: 14;
    border-radius: 5px;
    background-color: rgba(60, 98, 85, 1);
}

.check_button3{
    font-size: 13;
    /* font-style: ; */
}