{% extends "layout.html" %}
{% block content %}
    <main>
        <div class="container">
            <div class="blank"></div>
            <div class="contents-blank"></div>
            <div class="pw-box px-5">
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="col text-left h4">
                    비밀번호를 입력하세요.
                </div>
                <div class="contents-blank"></div>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="password" id="id_password" name="id_password" class="form-control">
                    {% if flg == True %}
                        <p class="text-danger">&nbsp;비밀번호가 일치 하지 않습니다.</p>
                        <script>
                            document.getElementById('id_password').classList.add("border-danger")
                            window.onload = function(){
                                document.getElementById("id_password").addEventListener("focusout", function(){
                                    document.getElementById('id_password').classList.remove("border-danger")
                                });
                            }
                        </script>
                    {% endif %}
                    <div class="contents-blank"></div>
                    <div class="contents-blank"></div>
                    <button type="submit" class="border check-button">확인</button>
                </form>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
            </div>
            <div class="blank"></div>
        </div>
    </main>
{% endblock %}