{% extends "layout.html" %}
{% block content %}
    <main class="container-fluid">
        <div class="col-3 container">
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="text-center h2">
                비밀번호 찾기
            </div>
            <div class="contents-blank"></div>
            <p class="col text-left">
                회원가입한 이메일 주소를 이용하여 비밀번호를 찾을 수 있습니다.
            </p>
            <div class="contents-blank"></div>
            <form action="" method="post">
                {% csrf_token %}
                <input type="email" name="email" class="form-control" placeholder="이메일" required="" id="id_email">
                {% if flg == True %}
                    <p class="text-danger">&nbsp;해당 이메일은 존재하지 않습니다.</p>
                    <script>
                        document.getElementById('id_email').classList.add("border-danger")
                        window.onload = function(){
                            document.getElementById("id_email").addEventListener("focusout", function(){
                                document.getElementById('id_email').classList.remove("border-danger")
                            });
                        }
                    </script>
                {% endif %}
                <div class="contents-blank"></div>
                <div class="text-left">
                    <button class="border cafein-button px-5" type="submit">이메일 전송</button>
                </div>
            </form>
            <div class="contents-blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
        </div>
    </main>
{% endblock %}