{% extends "layout.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<main>
    <div class="col container">
        <div class="contents-blank"></div>
        <h1>리뷰 게시판</h1>
        <div class="contents-blank"></div>
        <div class="contents-blank"></div>
        <div class="">
            <table class="table-brown p-4 ptd-15 w-100">
                <thead>
                <tr>
                    <th scope="col" class="w-5 text-center">번호</th>
                    <th scope="col" class="w-20 text-center">날짜</th>
                    <th scope="col" class="w-55 text-center">리뷰 제목</th>
                    <th scope="col" class="text-center">별점</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                <tr class="cursor ptd-14" onclick="moveDetailPage({{ review.review_id }})">
                    <th scope="row" class="text-center align-middle">{{ review.review_id }}</th>
                    <td class="text-center align-middle">{{ review.date }}</td>
                    <td class="text-center align-middle">{{ review.title }}</td>
                    <td class="text-center align-middle"><img id="score_{{ forloop.counter }}">
                        <script>
                            document.getElementById('score_{{ forloop.counter }}').src = "{% static ''%}" + "img/bean/" + "{{ review.score }}" + "bean.png";
                        </script>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if reviews.has_other_pages %}
                <div class="pagination justify-content-center">
                    {% if reviews.has_previous %}
                        <a class="not-current" href="?page={{ reviews.previous_page_number }}">&lsaquo;</a>
                    {% endif %}
                    {% for page in reviews.paginator.page_range %}
                        {% if page == reviews.number %}
                            <span class="current">{{ page }}</span>
                        {% else %}
                            <a class="not-current" href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if reviews.has_next %}
                        <a class="not-current" href="?page={{ reviews.next_page_number }}">&rsaquo;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        function moveDetailPage( pageid ){
            window.location.assign('/owner/coment/' + pageid);
        }
    </script>
</main>
{% endblock %}