{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var data1 = [  ['Label', 'Value'],
    ['긍정', 50],
    ['부정', 50]
    ];

    var data2 = [  ['Label', 'Value'],
    ['긍정', 25],
    ['부정', 75]
    ];

    var data3 = [  ['Label', 'Value'],
    ['긍정', 75],
    ['부정', 25]
    ];
</script> 
<main>
    <div id="piechart"></div>
</main>
<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var chart, data, percent, target;
    var options = {
        'width': 800,
        'height': 600,
        'pieHole': 0.8,
        'pieSliceText': 'none',
        'colors': ['#8faadc', '#ed7d31'],
        'legend': 'bottom',
        'animation': {
            'duration': 100,
            'easing': 'out',
            'startup': true
        },
    };
    
    function drawChart() {
        data = google.visualization.arrayToDataTable(data1);
        chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
        
    }
    function showData1() {
        percent = data.getValue(0,1)
        target = data1[1][1]
        if(percent != target){
            if(percent < target){
                changeGraphUp(percent, target)
            }else{
                changeGraphDown(percent, target)
            }
        }
    }
    function showData2() {
        percent = data.getValue(0,1)
        target = data2[1][1]
        if(percent != target){
            if(percent < target){
                changeGraphUp(percent, target)
            }else{
                changeGraphDown(percent, target)
            }
        }
    }
    function showData3() {
        percent = data.getValue(0,1)
        target = data3[1][1]
        if(percent != target){
            if(percent < target){
                changeGraphUp(percent, target)
            }else{
                changeGraphDown(percent, target)
            }
        }
    }

    function changeGraphUp(percent, target) {
        total = 100
        var handler = setInterval(function(){
            // values increment
            percent += 1;
            // apply new values
            data.setValue(0, 1, percent);
            data.setValue(1, 1, total - percent);
            // update the pie
            chart.draw(data, options);
            // check if we have reached the desired value
            if (percent == target)
                // stop the loop
                clearInterval(handler);
            
        }, 15);
    }

    function changeGraphDown(percent, target) {
        total = 100
        var handler = setInterval(function(){
            percent -= 1;
            // apply new values
            data.setValue(0, 1, percent);
            data.setValue(1, 1, total - percent);
            // update the pie
            chart.draw(data, options);
            // check if we have reached the desired value
            if (percent == target)
                // stop the loop
                clearInterval(handler);
            // values increment
            
        }, 15);
    }
    
</script>
<button id="button1">Show Data 1</button>
<button id="button2">Show Data 2</button>
<button id="button3">Show Data 3</button>
<script>
    document.getElementById('button1').addEventListener('click', showData1);
    document.getElementById('button2').addEventListener('click', showData2);
    document.getElementById('button3').addEventListener('click', showData3);
</script>
<div id="piechart"></div>
<script>
{% endblock %}