{% extends "layout.html" %}
{% load static %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <main>
        <div>
            <div class="col contents-padding container">
                <div class="h1 border-bottom pb-3">메뉴 관리</div>
                <div class="contents-blank"></div>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-outline-brown rounded-5 mx-2 mb-0 px-4">메뉴 추가</button>
                    <button class="btn btn-outline-brown rounded-5 mx-2 mb-0 px-4">선택 메뉴 삭제</button>
                    <input type="checkbox" class="mt-0 mx-2" id="all_select" name="all_select">
                    <p class="mb-0 mx-2 h3">전체 선택</p>
                </div>
                <div class="blank"></div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <input type="checkbox" class="mt-0" id="menu_1" name="menu_1">
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">카페 아메리카노</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <dialog id="favDialog">
                <form method="dialog">
                    <p><label>좋아하는 동물:
                        <select>
                            <option></option>
                            <option>아르테미아</option>
                            <option>레서판다</option>
                            <option>거미원숭이</option>
                        </select>
                    </label></p>
                    <menu>
                        <button value="cancel">취소</button>
                        <button id="confirmBtn" value="default">확인</button>
                    </menu>
                </form>
            </dialog>

            <menu>
                <button id="updateDetails">상세정보 업데이트</button>
            </menu>

            <output aria-live="polite"></output>
            <script>
                const updateButton = document.getElementById('updateDetails');
                const favDialog = document.getElementById('favDialog');
                const outputBox = document.getElementsByTagName('output')[0];
                const selectEl = document.getElementsByTagName('select')[0];
                const confirmBtn = document.getElementById('confirmBtn');

                // “Update details” button opens the <dialog> modally
                updateButton.addEventListener('click', function onOpen() {
                    if (typeof favDialog.showModal === "function") {
                        favDialog.showModal();
                    } else {
                        alert("The <dialog> API is not supported by this browser");
                    }
                });
                // "Favorite animal" input sets the value of the submit button
                selectEl.addEventListener('change', function onSelect(e) {
                    confirmBtn.value = selectEl.value;
                });
                // "Confirm" button of form triggers "close" on dialog because of [method="dialog"]
                favDialog.addEventListener('close', function onClose() {
                    outputBox.value = favDialog.returnValue + " button clicked - " + (new Date()).toString();
                });
            </script>
        </div>
    </main>
{% endblock %}