{% extends "layout.html" %}
{% load static %}
{% block content %}
    <main>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            
            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string','긍부정');
                data.addColumn('number','비중');
     
                data.addRows([ 
                    ['만족', {{ cafe_sentiment.total }}],
                    ['불만족', 1 - {{ cafe_sentiment.total }}],
                ]);
                var opt = {
                        'width':400,
                        'height':400,
                        'pieHole': 0.6,
                        'pieSliceText':'label',
                        'colors': ['#78AAE7', '#E67C92'],
                        'pieSliceText': 'none',
                        'legend':'bottom'
                };
                var chart = new google.visualization.PieChart(document.getElementById('myChart'));
                chart.draw(data, opt);
            }
        
            
        </script>
        <div>
            <div class="container">
                <h2>고객 통계</h2>
                <div class="row">
                    <div class="col">
                        <div class="h3 text-bold">고객들의 전체 만족도</div>
                        <div id="myChart" class="d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                        <div class="h3 pb-5 text-bold">고객들이 만족한 항목</div>
                        {% for rank in cafe_rank %}
                        <div class="m-4 h3"><strong class="font-weight-bold">{{ forloop.counter }}</strong>&nbsp;&nbsp;&nbsp; <a class="text-dark text-decoration-none cafe_rank" href="{% url 'owner:ownerStatistics' %}?data={{rank.category}}">{{rank.category}}</a></div>
                        {% endfor %}
                    </div>  
                </div>
                <div class="blank"></div>
                
                <h2>최근 리뷰</h2>
                <div class="col">
                    <a class="login-button btn btn-outline-brown float-end nav-item nav-link" href="{% url 'owner:ownerComent' %}">상세보기</a>
                </div>
                <div class="p-5">
    
                <table class="table table-bordered p-4 table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="w-5 text-center">번호</th>
                        <th scope="col" class="w-15 text-center">날짜</th>
                        <th scope="col" class="w-55 text-center">리뷰 제목</th>
                        <th scope="col" class="text-center">별점</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for review in reviews %}
                    <tr class="cursor" onclick="moveDetailPage({{ review.review_id }})">
                        <th scope="row" class="text-center align-middle">{{ forloop.counter }}</th>
                        <td class="text-center align-middle">{{ review.date|date:"Y/m/d" }}</td>
                        <td class="text-center align-middle">{{ review.content }}</td>
                        <td class="text-center align-middle"><img id="score_{{ forloop.counter }}">
                            <script>
                                document.getElementById('score_{{ forloop.counter }}').src = "{% static ''%}" + "img/bean/" + "{{ review.score }}" + "bean.png";
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <script>
            function moveDetailPage( pageid ){
                window.location.assign('/owner/coment/' + pageid);
            }
        </script>
    </main>
{% endblock %}