{% extends "layout.html" %}
{% load static %}
{% block content %}
    <main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <div class="col container">
            <div class="row2 justify-content-between">
                <div class="h1 col-11 d-flex align-self-center">리뷰 게시판</div>
            </div>
            <div class="contents-blank"></div>
            <div class="text-end">
                <a class="login-option" href="/customer/review">뒤로가기</a>
            </div>
            <div class="mt-3">
                <div class="row border-bottom border-top">
                    <span class="text-center align-middle col-2 display-7 bg-light-brown p-4">리뷰 제목</span>
                    <span class="text-start align-self-center col display-7 p-4">{{ contents.cafe_review.title }}</span>
                </div>
                <div class="row border-bottom">
                    <span class="col row px-0">
                        <span class="col-4 text-center align-middle display-7 bg-light-brown p-4" >날짜</span>
                        <span class="col text-start align-self-center col display-7 p-4" >{{ contents.cafe_review.date }}</span>
                    </span>
                    <span class="col row">
                        <span class="col-4 text-center display-7 bg-light-brown align-self-center p-4" >별점</span>
                        {% if contents.cafe_review.score == 1 %}
                        <span class="col p-3"><img src="{% static 'img/bean/1bean.png' %}"></span>
                        {% elif contents.cafe_review.score == 2 %}
                        <span class="col p-3"><img src="{% static 'img/bean/2bean.png' %}"></span>
                        {% elif contents.cafe_review.score == 3 %}
                        <span class="col p-3"><img src="{% static 'img/bean/3bean.png' %}"></span>
                        {% elif contents.cafe_review.score == 4 %}
                        <span class="col p-3"><img src="{% static 'img/bean/4bean.png' %}"></span>
                        {% elif contents.cafe_review.score == 5 %}
                        <span class="col p-3"><img src="{% static 'img/bean/5bean.png' %}"></span>
                        {% endif %}
                    </span>
                </div>
                <div class="row border-bottom h-250">
                    <span class="bg-light-brown col-2 display-7 p-3 d-flex align-content-center flex-wrap justify-content-center">리뷰 내용</span>
                    <div class="col review-container">
                        {% if contents.cafe_review.image != '' %}
                            <img class="img-review" src="{{ contents.cafe_review.image.url }}">
                        {% endif %}
                        <span class="text-start align-middle display-7 p-3">{{ contents.cafe_review.content }}</span>
                    </div>
                </div>
                <div class="row border-bottom">
                    <span class="bg-light-brown col-2 display-7 p-3 d-flex align-content-center flex-wrap justify-content-center">댓글</span>
                    <span class="col text-start align-middle col display-7 p-3 review-contents" id="review-comment-field">
                        <div class="display-7 p-3 align-self-center" id="review-comment">{{ contents.cafe_comment.content }}</div>
                    </span>
                    <div id="confirm" class="col-2 my-3">
                        <button class="btn-small m-2 ptd-12" onclick="changeComment()">수정</button>
                        <button class="btn-small m-2 ptd-12" onclick="deleteComment()">삭제</button>
                    </div>
                    <div id="send" class="col-2 my-3" style="display:none;">
                        <button class="btn-small m-2 ptd-12" onclick="sendComment()">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function changeComment(){
            const reviewComment = document.getElementById('review-comment').innerHTML;
            document.getElementById('review-comment-field').innerHTML = "";
            const textField = document.createElement("textarea");
            textField.setAttribute("class", "display-7 container");
            textField.setAttribute("rows", "10");
            textField.setAttribute("cols", "20");
            textField.setAttribute("id", "review-comment");
            textField.setAttribute("maxlength", "200");
            textField.value = reviewComment
            document.getElementById("review-comment-field").appendChild(textField);
            document.getElementById('confirm').style.display = 'none';
            document.getElementById('send').style.display = '';
        }

        function sendComment(){
            const reviewComment = document.getElementById('review-comment').value;
            document.getElementById('review-comment-field').innerHTML = "";
            const review = document.createElement("div");
            review.setAttribute("class", "display-7 p-3");
            review.setAttribute("id", "review-comment");
            review.innerHTML = reviewComment
            document.getElementById("review-comment-field").appendChild(review);
            document.getElementById('confirm').style.display = '';
            document.getElementById('send').style.display = 'none';

            submitComment(reviewComment)
        }

        function deleteComment(){
            const reviewComment = "";
            document.getElementById('review-comment-field').innerHTML = "";
            const review = document.createElement("div");
            review.setAttribute("class", "display-7 p-3");
            review.setAttribute("id", "review-comment");
            review.innerHTML = reviewComment
            document.getElementById("review-comment-field").appendChild(review);
            document.getElementById('confirm').style.display = '';
            document.getElementById('send').style.display = 'none';

            submitComment(reviewComment)
        }

        function submitComment(reviewComment){
            $.ajax({
                url: '/owner/upload/',
                type: 'POST',
                data: {
                    'review-comment': reviewComment,
                    'comment-id': {{ contents.cafe_comment.comment_id }},
                },
                beforeSend: function(data) {
                    data.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                success: function(data) {
                  // Handle success
                },
                error: function(data) {
                  // Handle error
                }
            });
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
              }
            }
            return cookieValue;
        }
  
    </script>
{% endblock %}