{% extends "layout.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="container2">
    <h1 class="text-center"> 리뷰를 분석중입니다</h1>
    <div class="upper">
        <div class="timer"></div>
        <div class="upper-btn"></div>
    </div>
    <div class="filter">
        <div class="filter-base"></div>
        <div class="handle"></div>
        <div class="coffee"></div>
        <div class="steam"></div>
        <div class="coffee-drop"></div>
    </div>
    <div class="back">
        <div class="tray"></div>
        <div class="cup"></div>
    </div>
    <div class="lower">
        <div class="lower-btn"></div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var intervalId = setInterval(function() {
            $.ajax({
                url: '/owner/checkCafeData/?cafe_id={{cafe.cafe_id}}',
                type: 'GET',
                success: function(response) {
                    if (response.result){
                        location.href="";
                    }
                }
            }); 
        }, 5000);
    }); 
</script>
{% endblock %}