{% extends "layout.html" %}
{% block content %}
<main class="container-fluid">
    <div class="col-4 container">
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="container row">
            <div class="col">
                <a class="login-button btn btn-outline-brown float-end" href="#" aria-expanded="false">회원가입</a>
            </div>
            <div class="contents-blank"></div>
            <input type="email" class="form-control" placeholder="이메일">
            <div class="contents-blank"></div>
            <input type="password" class="form-control" placeholder="비밀번호">
            <div class="contents-blank"></div>  
            <button class="border cafein-button">로그인</button>
            <div class="contents-blank"></div>
            <a class="find-password text-dark" href="/owner/findPassword">비밀번호 찾기</a>
        </div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="blank"></div>
    </div>
</main>
{% endblock %}