{% extends "layout.html" %}
{% load static %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <main>
        <div>
            <div class="col container">
                <h1>카페 관리</h1>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="text-first menu_change">
                    <button onclick="location.href='{% url 'owner:ownerManageMenu' %}'" class="login-option margin_right5">메뉴 수정</button>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=contents-blank></div>
                    <div class='row'>
                        <div class='col-5'>
                            <div class='imagebox' id='mainimage'>
                        </div>
                        </div>    
                        <script>
                            function toggleImg(img) {
                              document.getElementById("img").src = img;
                            }
                        </script>
                            <script>
                                function setThumbnail(event, id) {
                                    var reader = new FileReader();
                                    reader.onload = function(event) {
                                        var img = document.createElement("img");
                                        img.setAttribute("src", event.target.result);
                                        img.setAttribute("class", "imagebox2");
                                        img.setAttribute("onclick", "toggleImg('"+event.target.result+"')");
                                        document.getElementById("image_container_" + id).innerHTML = "";
                                        document.querySelector("div#"+ 'image_container_' + id).appendChild(img);
                                        document.querySelector("input#"+ 'image_name_' + id).value = event.target.result;
                                    };
                                    reader.readAsDataURL(event.target.files[0]);
                                }
                            </script>

                            <meta charset="UTF-8">
                            <title>jQuery .slideUp() </title>
                            <script>
                                $( document ).ready( function() {
                                  $( '#btn' ).on("click", function() {
                                    $( '.wrap' ).slideToggle();
                                  } );
                                } );
                            </script>
                        <div class='col'>
                            <input type="text" name="name" value="{{ cafe_name }}" class="form-control" placeholder="카페명" required="" id="id_name">
                            <div class=contents-blank></div>
                            <div>
                                <button type="button" id="btn" class="form-control">이미지 선택</button>
                                <div class="contents-blank"></div>
                                <div id="divBox" class='wrap my-3'>
                                    <div class='row'>
                                        <div class='col-4'>
                                            <input type="file" id="image_1" name="image_1" accept="image/*" onchange="setThumbnail(event, '1');"/>
                                            <div id="image_container_1"></div>
                                            <input type="hidden" id="image_name_1" name="image_name_1">
                                        </div>
                                        <div class='col-4'>
                                            <input type="file" id="image_2" name="image_2" accept="image/*" onchange="setThumbnail(event, '2');"/>
                                            <div id="image_container_2"></div>
                                            <input type="hidden" id="image_name_2" name="image_name_2">
                                        </div>
                                        <div class='col-4'>
                                            <input type="file" id="image_3" name="image_3" accept="image/*" onchange="setThumbnail(event, '3');"/>
                                            <div id="image_container_3"></div>
                                            <input type="hidden" id="image_name_3" name="image_name_3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form.address }}
                            <div class="contents-blank"></div>
                            {{ form.datail_add }}
                            <div class="contents-blank"></div>
                            {{ form.cafe_phone }}
                            <div class="contents-blank"></div>
                            {% if error_flg.cafephone %}
                            <p class="text-danger">&nbsp;입력하신 전화번호에 '-'이 포함되어있습니다.</p>
                            <script>
                                document.getElementById('id_cafe_phone').classList.add("border-danger")
                                addLoadEvent(
                                    function(){
                                        document.getElementById("id_cafe_phone").addEventListener("focusout", function(){
                                            document.getElementById('id_cafe_phone').classList.remove("border-danger")
                                        });
                                    }
                                );
                            </script>
                            {% endif %}
                            {{ form.max_occupancy }}
                            <div class="contents-blank menu_change2"></div>
                            <div class=contents-blank></div>
                            <div class="menu_change2">
                                <button type="submit" class="border check-button check_button">카페 수정</button>
                            </div>
                        </div>
                    </div>
                </form>
                
                {% for image in imageform %}
                    {% if forloop.counter == 1 %}
                    <script>
                        var img = document.createElement("img");
                        img.setAttribute("src", "{{image.image.url}}");
                        img.setAttribute("id", "img")
                        document.getElementById("mainimage").appendChild(img);
                    </script>
                    {% endif %}
                    <script>
                        var img = document.createElement("img");
                        img.setAttribute("src", "{{image.image.url}}");
                        img.setAttribute("class", "imagebox2");
                        img.setAttribute("onclick", "toggleImg('{{image.image.url}}')");
                        document.getElementById("image_container_{{ forloop.counter }}").appendChild(img);
                        document.getElementById("image_name_{{ forloop.counter }}").value = "{{image.image.name}}";
                        //image_url.split('/')[-1]
                        //document.getElementById("image_{{ forloop.counter }}").setAttribute("value", "{{ image.image.url }}");
                    </script>
                {% endfor %}
                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                window.onload = function(){
                    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                        //카카오 지도 발생
                        new daum.Postcode({
                            oncomplete: function(data) { //선택시 입력값 세팅
                                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                                document.querySelector("input[name=address2]").focus(); //상세입력 포커싱
                            }
                        }).open();
                    });
                }
                </script>
            </div>
        </div>
    </main>
{% endblock %}