{% extends "layout.html" %}
{% load static %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function addLoadEvent(func){
            const oldonload = window.onload;
            if(typeof window.onload != 'function'){
                window.onload = func;
            }else{
                window.onload = function(){
                    oldonload();
                    func();
                }
            }
        }
    </script>
    <main>
        <div>
            <div class="col container">
                <h1>메뉴 관리</h1>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="d-flex justify-content-end align-items-center">
                    <button class="login-option mx-1 mb-0 px-2" id="menuUpdateDetails">메뉴 추가</button>
                    <button class="login-option mx-1 mb-0 px-2" onclick="removeMenu()">선택 메뉴 삭제</button>
                    <input type="checkbox" class="mt-0 mx-2" value='selectall' name="selectall" onclick="selectAll(this)"/><p class="mb-0 mx-2 text-gray ptd-14">전체 선택</p>
                </div>
                <div class="blank"></div>
                <div class="col mb-5 menu-card-width" id="menuDummy" style="display: none">
                    <div class="card h-100">
                        <input type="checkbox" class="menu-cb m-3" id="menu_checkbox_0" name="menu_checkbox_0">
                        <img id="menu_img_0" class="card-img menu_img_size mx-auto" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h4 class="fw-bolder" id="menu_name_0">카페 아메리카노</h4>
                                <h5 class="text-gray ptd-12"><span id="menu_price_0"></span><span>원</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="showMenuField" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-flex-start">
                    {% for menu in cafe_menu %}
                    <div class="col mb-5 menu-card-width" id="menu_{{ forloop.counter }}">
                        <div class="card h-100">
                            <input type="checkbox" class="menu-cb m-3" id="menu_checkbox_{{ forloop.counter }}" name="menu_checkbox" onclick="checkSelectAll()">
                            <img id="menu_img_{{ forloop.counter }}" class="card-img menu_img_size mx-auto" src="{{ menu.image.url }}">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h4 class="fw-bolder" id="menu_name_{{ forloop.counter }}">{{ menu.name }}</h4>
                                    <div class="text-gray ptd-12"><span id="menu_price_{{ forloop.counter }}">{{ menu.price }}</span><span>원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <dialog id="newMenuDialog">
                <form method="dialog">
                    <div class="row p-5">
                        <div class="col pe-4">
                            <img id="dialog_image" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg">
                        </div>
                        <div class="col">
                            <form>
                                {% comment %} {{ menu_form.as_p }} {% endcomment %}
                                {{ menu_form.name }}
                                <p id="id_name_error"></p>
                                {{ menu_form.price }}
                                <div class="contents-blank"></div>
                                {{ menu_form.image }}
                                <p id="id_image_error"></p>
                            </form>
                            <div class="contents-blank"></div>
                            <div>
                                <button class = "login-option" id="confirmBtn" value="add">등록</button>
                                <button class = "login-option" value="cancel">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </dialog>
            <script>
                const menuUpdateButton = document.getElementById('menuUpdateDetails');
                const newMenuDialog = document.getElementById('newMenuDialog');
                let menu_length = document.getElementById("showMenuField").childElementCount;
                // “Update details” button opens the <dialog> modally
                menuUpdateButton.addEventListener('click', function onOpen() {
                    if (typeof newMenuDialog.showModal === "function") {
                        newMenuDialog.showModal();
                    } else {
                        alert("The <dialog> API is not supported by this browser");
                    }
                });
                newMenuDialog.addEventListener('close', function checkMenuDetail() {
                    // 닫았을 때 처리 방식
                    // newMenuDialog.returnValue << 무슨 버튼으로 입력했는지 확인 가능
                    // 닫았을때 취소랑 등록 버튼에 따라서 변경할수 있게 생성
                    if(newMenuDialog.returnValue == "add") {
                        const menuDetail = {
                            'name': document.getElementById('id_name').value,
                            'price': document.getElementById('id_price').value,
                            'image': document.getElementById('id_image').files[0],
                        };
                        // newMenuDialog.showModal();
                        // 입력 데이터에 대한 체크도 필요할것으로 판단됨 어떤식으로 입력할지는 모르니
                        sendMenuDetails(menuDetail);
                    }else{
                        dialogClear();
                    }
                });

                function addMenu(menuDetails){
                    menu_length = menu_length + 1;
                    const newNode = document.getElementById("menuDummy").cloneNode(true);
                    newNode.setAttribute("style", "");
                    newNode.setAttribute("id", "menu_"+menu_length);
                    newNode.getElementsByTagName("input")[0].setAttribute("id", "menu_checkbox_"+menu_length);
                    newNode.getElementsByTagName("input")[0].setAttribute("name", "menu_checkbox");
                    newNode.getElementsByTagName("img")[0].setAttribute("id", "menu_img_"+menu_length);
                    newNode.getElementsByTagName("img")[0].setAttribute("src", dialog_image.src);
                    newNode.getElementsByTagName("h4")[0].setAttribute("id", "menu_name_"+menu_length);
                    newNode.getElementsByTagName("h4")[0].innerHTML = menuDetails.name;
                    newNode.getElementsByTagName("span")[0].setAttribute("id", "menu_price_"+menu_length);
                    newNode.getElementsByTagName("span")[0].innerHTML = menuDetails.price;
                    document.getElementById("showMenuField").appendChild(newNode);
                }

                function selectAll(selectAll)  {
                    const checkboxes 
                         = document.getElementsByName('menu_checkbox');
                    
                    checkboxes.forEach((checkbox) => {
                      checkbox.checked = selectAll.checked;
                    })
                }

                function checkSelectAll()  {
                  // 전체 체크박스
                  const checkboxes 
                    = document.querySelectorAll('input[name="menu_checkbox"]');
                  // 선택된 체크박스
                  const checked 
                    = document.querySelectorAll('input[name="menu_checkbox"]:checked');
                  // select all 체크박스
                  const selectAll 
                    = document.querySelector('input[name="selectall"]');
                  
                  if(checkboxes.length === checked.length)  {
                    selectAll.checked = true;
                  }else {
                    selectAll.checked = false;
                  }
                
                }
    
                function removeMenu(){
                    const menuList = [];
                    for (let i=1; i<=menu_length; i++){
                        if (document.getElementById("menu_checkbox_"+i) != null) {
                            if (document.getElementById("menu_checkbox_" + i).checked == true) {
                                menuList.push(document.getElementById("menu_name_" + i).innerHTML);
                                document.getElementById("menu_" + i).remove();
                            }
                        }
                    }
                    sendDeleteMenuList(menuList)
                }

                const id_image = document.getElementById('id_image');
                const dialog_image = document.getElementById('dialog_image');
                id_image.addEventListener('change', () => {
                    const file = id_image.files[0];
                    const reader = new FileReader();
                    reader.addEventListener('load', () => {
                        dialog_image.src = reader.result;
                    });
                    reader.readAsDataURL(file);
                });

                function dialogClear(){
                    document.getElementById("dialog_image").src = "https://dummyimage.com/450x300/dee2e6/6c757d.jpg";
                    document.getElementById("id_name").value = '';
                    document.getElementById("id_image").value = '';
                    document.getElementById("id_price").value = '';
                }

                function sendMenuDetails(menuDetail){
                    const formData = new FormData();
                    formData.append('name', menuDetail.name);
                    formData.append('price', menuDetail.price);
                    formData.append('image', menuDetail.image);
                    $.ajax({
                        url: '',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        beforeSend: function(data) {
                            data.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        success: function(data) {
                            result = data['result'];

                            if (result == true){
                                addMenu(menuDetail);
                                dialogClear();
                            } else {
                                newMenuDialog.showModal();
                                if (result['error'] == "name") {
                                    document.getElementById('id_name').classList.add("border-danger")
                                        addLoadEvent(
                                            function(){
                                                document.getElementById("id_name").addEventListener("focusout", function(){
                                                    document.getElementById('id_name').classList.remove("border-danger")
                                                });
                                            }
                                    );
                                    const errorMessage = document.createElement('div');
                                    errorMessage.textContent = '중복된 메뉴명입니다.';
                                    errorMessage.classList.add('error-message');    
                                    document.getElementById('id_name_error').appendChild(errorMessage);
                                }
                                if (result['error'] == "image"){
                                    const errorMessageimg = document.createElement('div');
                                    errorMessageimg.textContent = '4MB 미만의 크기의 이미지파일만 사용 가능합니다.';
                                    errorMessageimg.classList.add('error-message');    
                                    document.getElementById('id_image_error').appendChild(errorMessageimg);
                                }
                            }
                        },
                        error: function(data) {
                            {#alert("메뉴 등록에 실패 했습니다.");#}
                        }
                    });
                }

                function sendDeleteMenuList(menuList){
                    const formData = new FormData();
                    formData.append('menuList', menuList);
                    $.ajax({
                        url: '',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        beforeSend: function(data) {
                            data.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                        },
                        success: function(data) {
                            {#alert("메뉴 등록 완료");#}
                        },
                        error: function(data) {
                            {#alert("메뉴 등록에 실패 했습니다.");#}
                        }
                    });
                }

                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            </script>
        </div>
    </main>
{% endblock %}