{% extends "layout.html" %}
{% block content %}
<main>
    <div class="contents-padding container">
        <h1> 고객 통계 </h1>
        <div class="row justify-content-between" id="target">
        </div>
        <div class="contents-blank"></div>
        <div class="container">
            <div class="nav-scroller py-1 mb-2">
                <nav class="btn-group nav d-flex justify-content-between" role="group">
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio1" autocomplete="off" checked="">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio1">#서비스</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio2" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio2">#가격</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio3" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio3">#디저트</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio4" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio4">#커피</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio5" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio5">#고객수</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio6" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio6">#인테리어</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio7" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio7">#뷰</label>
                    </div>
                    <div class="p-2">
                        <input type="radio" class="link-secondary btn-check" name="btn-radio" id="btn-radio8" autocomplete="off">
                        <label class="btn btn-outline-brown btn-lg statisticsDetail-width" for="btn-radio8">#주차</label>
                    </div>
                </nav>
            </div>
            <div class="contents-blank"></div>
            <div>
                
            </div>
        </div>
    </div>
</main>
{% endblock %}