{% extends "layout.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <main>
        <div class="container w-55">
            <div class="blank"></div>
            <div class="contents-blank"></div>
            <div class="pw-box px-5">
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="col text-left h4">
                    &nbsp&nbsp비밀번호를 입력하세요.
                </div>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class = "container login-option-container2"> 
                    <input type="password" id="id_password" name="id_password" class="form-control">
                    <button type="submit" class="border check-button check_button">확인</button>
                    </div>
                    <div class="contents-blank"></div>
                    {% if error_flg.password %}
                        <p class="text-danger">&nbsp;&nbsp;&nbsp;비밀번호가 일치 하지 않습니다.</p>
                        <script>
                            document.getElementById('id_password').classList.add("border-danger")
                            window.onload = function(){
                                document.getElementById("id_password").addEventListener("focusout", function(){
                                    document.getElementById('id_password').classList.remove("border-danger")
                                });
                            }
                        </script>
                    {% endif %}
                    <div class="contents-blank"></div>                
                </form>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
            </div>
            <div class="blank"></div>
        </div>
    </main>
{% endblock %}