{% extends "layout.html" %}
{% load static %}
{% block banner %}
<div class="d-flex justify-content-center backgroud_color">
    <img class="img_set" src="{% static '/img/customer_main_banner/owner_home_banner.png' %}">
</div>
{% endblock %}
{% block content %}
    <main>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.2.3/js/dx.all.js"></script>

        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            
            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string','긍부정');
                data.addColumn('number','비중');
     
                data.addRows([ 
                    ['만족', {{ cafe_sentiment.total }}],
                    ['불만족', 1 - {{ cafe_sentiment.total }}],
                ]);
                var opt = {
                        'width':400,
                        'height':400,
                        'pieHole': 0.6,
                        'pieSliceText':'label',
                        'colors': ['#005E50', '#E2E2E2'],
                        'pieSliceText': 'none',
                        'legend':'bottom',
                };
                var chart = new google.visualization.PieChart(document.getElementById('myChart'));
                chart.draw(data, opt);
            }
        
            
        </script>
        <div>
            <div class="container">
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="blank"></div>
                <div>
                    <h1>고객 통계</h1>
                </div>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
                <div class="row2">
                    <div class="col">
                        <div class="h2" style = "text-align:center">전체 만족도</div>
                        <div id="myChart" class="d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                        <div class="h2" style = "text-align:center">카테고리 별 만족도</div>
                        <div class="blank"></div>
                        <div>
                            <div id="chart"></div>
                        </div>
                    </div>  
                </div>
            
                <div class="blank"></div> 
                <div class="blank"></div>    
                <div>
                    <h1>최신 리뷰</h1>
                </div>
                <div class="col text-right">
                    <a class="login-option" href="{% url 'owner:ownerComent' %}">상세보기</a>
                </div>
                <div class="contents-blank"></div>
                <div class="">
                    <table class="table-brown p-4 ptd-15 w-100">
                        <thead>
                        <tr>
                            <th scope="col" class="w-5 text-center">번호</th>
                            <th scope="col" class="w-15 text-center">날짜</th>
                            <th scope="col" class="w-55 text-center">리뷰 제목</th>
                            <th scope="col" class="text-center">별점</th>
                        </tr>
                        </thead>
                    <tbody>
                    {% for review in reviews %}
                    <tr class="cursor" onclick="moveDetailPage({{ review.review_id }})">
                        <th scope="row" class="text-center align-middle">{{ forloop.counter }}</th>
                        <td class="text-center align-middle">{{ review.date|date:"Y/m/d" }}</td>
                        <td class="text-center align-middle">{{ review.content }}</td>
                        <td class="text-center align-middle"><img id="score_{{ forloop.counter }}">
                            <script>
                                document.getElementById('score_{{ forloop.counter }}').src = "{% static ''%}" + "img/bean/" + "{{ review.score }}" + "bean.png";
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="contents-blank"></div>
                <div class="contents-blank"></div>
            </div>
        </div>
        
        <script>
            function moveDetailPage( pageid ){
                window.location.assign('/owner/coment/' + pageid);
            }

            $(() => {
                $('#chart').dxChart({
                  dataSource: dataSource.reverse(),
                  rotated: true,
                  barGroupWidth: 30,
                  commonSeriesSettings: {
                    type: 'stackedbar',
                    argumentField: 'category',
                  },
                  series: [{
                    valueField: 'satisfaction',
                    name: '만족',
                    color: '#005E50',
                  }, {
                    valueField: 'unsatisfaction',
                    name: '불만족',
                    color: '#E2E2E2',
                  }],
                  tooltip: {
                    enabled: true,
                    customizeTooltip() {
                      return {
                        text: Math.abs(this.valueText),
                      };
                    },
                  },
                  valueAxis: {
                    label: {
                      customizeText() {
                        return `${Math.abs(this.value)}`;
                      },
                    },
                  },
                  legend: {
                    visible: false,
                  },
                  argumentAxis: {
                    label: {
                      font: {
                        family: 'Verdana',
                        size: 16,
                        weight: 500,
                      },
                    },
                  },
                });
            });
              
            const dataSource = [
                {% for rank in cafe_rank %}
                {
                    category: '{{ rank.category }}',
                    satisfaction: -{{ rank.positive_cnt }},
                    unsatisfaction: {{ rank.cnt }} - {{ rank.positive_cnt }},
                }, 
                {% endfor %}
              ];
        </script>
    </main>
{% endblock %}