{% extends "layout.html" %}
{% block content %}
<main>
    <div class="contents-padding container">
        <div class="row justify-content-between" id="target">
            <div class="h1 col-11 d-flex align-self-center">리뷰 작성</div>
        </div>
        <div class="contents-blank"></div>
        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit">등록</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}