{% extends "layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <script src="https://kit.fontawesome.com/875cfd8d24.js" crossorigin="anonymous"></script>
    <div class="container">
        <div class="contents-blank"></div>
        <h1>즐겨찾기</h1>
        <div class="blank"></div>
        <div class="row" id="cafe_list">
            {% for cafe_image in cafe_image %}
                <div class="col-3 mr-5 mb-2 d-flex justify-content-center flex-column">
                    <div class>
                        <img class="cus-main-image-size border rounded-5" onclick="location.href='/customer/{{ cafe_image.cafe_image.cafe.cafe_id }}/home'" src="{{ cafe_image.cafe_image.image.url }}">
                    </div>
                    <div class>
                        <div class="d-flex h3 pt-3 cus-main-width-250 justify-content-between align-items-center">
                            <div class="w-85 truncate">{{ cafe_image.cafe_image.cafe.name }}</div>
                            <div class="w-15 d-flex">
                                <img class="w-px-30" src="/static/img/congestion/{% if cafe_image.cafe_congestion < 40 %}good{% elif cafe_image.cafe_congestion < 70 %}soso{% else %}bad{% endif %}.png">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}