{% extends "layout.html" %}
{% block content %}
<main>
    <div class="contents-padding container">
        <div class="row justify-content-between" id="target">
            <div class="h1 col-11 d-flex align-self-center">{{ cafe.name }}<span>일단 즐겨찾기 공간</span></div>
        </div>
        <div><a href="/customer/{{ cafe.name }}/review">리뷰 게시판으로 가기</a><div>
        <div class="contents-blank"></div>
        <div class="container">
            <div class="nav-scroller py-1 mb-2">
                <div>{{ cafe.address }}</div>
                <div>{{ cafe.cafe_phone }}</div>
            </div>
            <div class="contents-blank"></div>
        </div>
    </div>
</main>
{% endblock %}