{% extends "layout.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<script src="https://kit.fontawesome.com/875cfd8d24.js" crossorigin="anonymous"></script>
<div class="contents-blank"></div>
<main>
    <div class="row">
        <div class="row" id="target">
            <h1 class="col-11 d-flex align-self-center">{{ cafe.name }}
                &nbsp; <a href="/customer/like/{{ cafe.cafe_id }}">
                    {% if customer in cafe.like_users.all %}
                    <i class="fa-sharp fa-solid fa-heart heart-like"></i>
                    {% else %}
                    <i class="fa-regular fa-heart heart-unlike"></i>
                    {% endif %}
                </a>
            </h1>
        </div>
        <div class="contents-blank"></div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="nav-scroller py-1 mb-2 ptd-14">
                        <div>{{ cafe.address }}</div>
                        <div>{{ cafe.cafe_phone }}</div>
                    </div>
                    <div class="contents-blank"></div>
                </div>
                <div class="contents-blank"></div>
                <div class="row">
                    {% for menu in cafe_menu %}
                    <div class="col">
                        <div class="text-center">
                            <img id="menu_img_{{ forloop.counter }}" class="cafe-home-menu-size mx-auto" src="{{ menu.image.url }}">
                        </div>
                        <div class="p-4">
                            <div class="text-center">
                                <h4 class="fw-bolder" id="menu_name_{{ forloop.counter }}">{{ menu.name }}</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide col" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in cafe.cafe_image_set.all %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <div class="d-flex justify-content-center">
                        <img src="{{i.image.url}}" class="d-block w-75"style="height:250px">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="carousel-indicators w-75">
                {% for i in cafe.cafe_image_set.all %}
                {% if forloop.counter == 1 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% elif forloop.counter == 2 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                {% elif forloop.counter == 3 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div>
        <div class="blank"></div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="ptd-22">최근 리뷰</div>
            <div class="d-flex justify-content-end">
                <button class="btn-middle m-2 ptd-14 pe-3" onclick=(location.href="/customer/{{ cafe.cafe_id }}/createReview")>리뷰 작성</button>
                <button class="btn-middle m-2 ptd-14" onclick=(location.href="/customer/{{ cafe.cafe_id }}/cafeReview")>상세보기</button>
            </div>
        </div>
        <div class="contents-blank"></div>
        <div class="">
            <table class="table-brown p-4 ptd-15 w-100">
                <thead>
                <tr>
                    <th scope="col" class="w-5 text-center">번호</th>
                    <th scope="col" class="w-15 text-center">날짜</th>
                    <th scope="col" class="w-55 text-center">리뷰 제목</th>
                    <th scope="col" class="text-center">별점</th>
                </tr>
                </thead>
            <tbody>
            {% for review in reviews %}
            <tr class="cursor" onclick="moveDetailPage({{ review.review_id }})">
                <th scope="row" class="text-center align-middle">{{ forloop.counter }}</th>
                <td class="text-center align-middle">{{ review.date|date:"Y/m/d" }}</td>
                <td class="text-center align-middle">{{ review.content }}</td>
                <td class="text-center align-middle"><img id="score_{{ forloop.counter }}">
                    <script>
                        document.getElementById('score_{{ forloop.counter }}').src = "{% static ''%}" + "img/bean/" + "{{ review.score }}" + "bean.png";
                    </script>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function moveDetailPage( pageid ){
            window.location.assign('/customer/{{ cafe.cafe_id }}/review/' + pageid);
        }
    </script>
</main>
{% endblock %}