{% extends "layout.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<script src="https://kit.fontawesome.com/875cfd8d24.js" crossorigin="anonymous"></script>
<main>
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide col" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in cafe.cafe_image_set.all %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <img src="{{i.image.url}}" class="d-block w-100"style="height:315px">
                </div>
                {% endfor %}
            </div>
            <div class="carousel-indicators">
                {% for i in cafe.cafe_image_set.all %}
                {% if forloop.counter == 1 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% elif forloop.counter == 2 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                {% elif forloop.counter == 3 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col">
            <div class="container">
                <div class="row justify-content-between" id="target">
                    <div class="h1 col-11 d-flex align-self-center">{{ cafe.name }}</div>
                </div>
                <div class="col-1">
                    <div>
                        <a class="login-button btn btn-outline-brown ms-3" href="/customer/{{ cafe.cafe_id }}/createReview">리뷰 작성</a>
                    </div>
                    <div>
                        <a href="/customer/like/{{ cafe.cafe_id }}">
                            {% if customer in cafe.like_users.all %}
                            <i class="fa-sharp fa-solid fa-heart heart-like"></i>
                            {% else %}
                            <i class="fa-regular fa-heart heart-unlike"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="contents-blank"></div>
                <div class="container">
                    <div class="nav-scroller py-1 mb-2">
                        <div>{{ cafe.address }}</div>
                        <div>{{ cafe.cafe_phone }}</div>
                    </div>
                    <div class="contents-blank"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="showMenuField" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-flex-start">
        {% for menu in cafe_menu %}
        <div class="col mb-5 menu-card-width" id="menu_{{ forloop.counter }}">
            <div class="card h-100">
                <div class="blank"></div>
                <img id="menu_img_{{ forloop.counter }}" class="card-img menu_img_size mx-auto" src="{{ menu.image.url }}">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h4 class="fw-bolder" id="menu_name_{{ forloop.counter }}">{{ menu.name }}</h4>
                        <div class="text-gray ptd-12"><span id="menu_price_{{ forloop.counter }}">{{ menu.price }}</span><span>원</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div>
    <h2>최근 리뷰</h2>
                <div class="col d-flex justify-content-between">
                    <a class="login-option" href="/customer/{{ cafe.cafe_id }}/createReview">리뷰 작성</a>
            <a class="login-option" href="{% url 'owner:ownerComent' %}">상세보기</a>
        </div>
        <div class="contents-blank"></div>
        <div class="">
            <table class="table-brown p-4 ptd-15 w-100">
                <thead>
                <tr>
                    <th scope="col" class="w-5 text-center">번호</th>
                    <th scope="col" class="w-15 text-center">날짜</th>
                    <th scope="col" class="w-55 text-center">리뷰 제목</th>
                    <th scope="col" class="text-center">별점</th>
                </tr>
                </thead>
            <tbody>
            {% for review in reviews %}
            <tr class="cursor" onclick="moveDetailPage({{ review.review_id }})">
                <th scope="row" class="text-center align-middle">{{ forloop.counter }}</th>
                <td class="text-center align-middle">{{ review.date|date:"Y/m/d" }}</td>
                <td class="text-center align-middle">{{ review.content }}</td>
                <td class="text-center align-middle"><img id="score_{{ forloop.counter }}">
                    <script>
                        document.getElementById('score_{{ forloop.counter }}').src = "{% static ''%}" + "img/bean/" + "{{ review.score }}" + "bean.png";
                    </script>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function moveDetailPage( pageid ){
            window.location.assign('/customer/{{ cafe.cafe_id }}/review/' + pageid);
        }
    </script>
</main>
{% endblock %}