{% extends "layout.html" %}
{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-between" id="target">
            <div class="h1 col-11 d-flex align-self-center">고객 홈</div>
        </div>
        <div class="contents-blank"></div>
        <div class="container">
            <div class="nav-scroller py-1 mb-2">
                {% for cafe in cafe %}
                    <div><a href="/customer/{{ cafe.name }}/home">{{ cafe.name }}</a></div>
                    <div>{{ cafe.address }}</div>
                    <div>{{ cafe.cafe_phone }}</div>
                {% endfor %}
            </div>
            <div class="contents-blank"></div>
        </div>
    </div>
</main>
{% endblock %}