{% extends "layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<main class="container-fluid d-flex align-items-center h-75">
    <div class="container w-30">
        <script>
            function addLoadEvent(func){
                const oldonload = window.onload;
                if(typeof window.onload != 'function'){
                    window.onload = func;
                }else{
                    window.onload = function(){
                        oldonload();
                        func();
                    }
                }
            }
        </script>
        <div class="contents-blank"></div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.email }}
            {% if error_flg.email %}
                <p class="text-danger">&nbsp;이미 존재하는 메일입니다.</p>
                <script>
                    document.getElementById('id_email').classList.add("border-danger")
                    addLoadEvent(
                        function(){
                            document.getElementById("id_email").addEventListener("focusout", function(){
                                document.getElementById('id_email').classList.remove("border-danger")
                            });
                        }
                    );
                </script>
            {% endif %}
            <div class="contents-blank"></div>
            <div class="d-flex">
                {{ form.password }}
                {{ form.password2 }}
            </div>
            <p class="text-gray ptd-13 mb-0 mt-2">&nbsp;※ 대문자,소문자,숫자,특수문자 포함 (8~25자)</p>
            {% if error_flg.password %}
            <p class="text-danger">&nbsp;비밀번호의 형식이 맞지 않습니다.</p>
            <script>
                document.getElementById('id_password').classList.add("border-danger")
                document.getElementById('id_password2').classList.add("border-danger")
                addLoadEvent(
                    function(){
                        document.getElementById("id_password").addEventListener("focusout", function(){
                            document.getElementById('id_password').classList.remove("border-danger")
                        });
                    }
                )
                addLoadEvent(
                    function(){
                        document.getElementById("id_password2").addEventListener("focusout", function(){
                            document.getElementById('id_password2').classList.remove("border-danger")
                        });
                    }
                )
            </script>
            {% endif %}
            <div class="contents-blank"></div>
            {{ form.phone }}
            {% if error_flg.phone %}
            <p class="text-danger">&nbsp;입력하신 전화번호에 '-'이 포함되어있습니다.</p>
            <script>
                document.getElementById('id_phone').classList.add("border-danger")
                addLoadEvent(
                    function(){
                        document.getElementById("id_phone").addEventListener("focusout", function(){
                            document.getElementById('id_phone').classList.remove("border-danger")
                        });
                    }
                );
            </script>
            {% endif %}
            <div class="contents-blank"></div>
            <div class="contents-blank"></div>
            <button type="submit" class="btn-point px-5 ptd-15">회원가입</button>
        </form>
    </div>
</main>

{% endblock %}